.about-page-style-dev{

    padding-left:5%;
    padding-right:5%;
    padding-top:5%;
    padding-bottom:10%;
    /* margin-top: ; */
    margin-bottom:10% ;
    /* margin-left: ;
    margin-right: ; */

    text-align: left;
    background-color:;
    text-align: justify;
    overflow-y: auto;
    overflow-x: auto;
    
}