/* .footer-bg-color-dev{

    background-color: #B6B8BB;
    position:fixed;
   left: 0;
   bottom: 0;
   width: 100%;

  }
  .navbar-nav-footer-dev .nav-link{

  color:black;
  margin-left: 2.9rem;
  font-size: 1.2rem;
} */




footer{
  position: sticky;
  bottom: 0%;
  z-index: 100;
  background-color:#dbdbdb;
  margin: 0;
  padding: 0;
}

.footer-list-dev li{
  list-style: none;
  display: inline;
  font-size: large;
 
 

}

